/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Lato', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Fixes the background while scrolling */
    color: #333;
    line-height: 1.6;
    padding: 20px;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Give some opacity so that the text appears more clearly */
    z-index: -1;
    /* Place it to the back */
}

/* 1st Page (Project Description) Container */
#project-info {
    max-width: 800px;
    margin: 0 auto;
    background: #f3eff5;
    padding: 20px;
    border: 2px solid #606c38;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#project-info h1 {
    color: #283618;
}

#project-info p {
    color: #000000;
}

/* 2nd Page (Barplots Visualization) Container */
#visualization-container {
    background: #f3eff5;
    padding: 20px;
    border: 2px solid #606c38;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40px;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(20px);
    /* Start slightly below */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    /* Apply fade-in fade-out transition when scrolling */
}

/* Enable/disable interaction when scrolling in between pages */
#project-info,
#visualization-container,
#map-radar-container {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    /* Hide page initially */
    visibility: hidden;
    /* Prevent interaction */
}

#project-info.visible,
#visualization-container.visible,
#map-radar-container.visible {
    opacity: 1;
    /* Show page */
    visibility: visible;
    /* Allow interaction */
}

/* 2nd Page Barplots Styling */
#plots {
    flex: 2;
}

.plot-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.plot {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
}

/* Last row plot styling (PM10) */
.plot-row-centered {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.plot-centered {
    width: auto;
    max-width: 300px;
    height: 200px;
    border-radius: 8px;
    position: relative;
}

.plot,
.plot-centered {
    background: #f3eff5;
    border: 2px solid #606c38;
}

/* 3rd Page Map Styling */
#map {
    flex: 2;
    height: 500px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

#map {
    background: #f3eff5;
    border: 2px solid #606c38;
    border-radius: 8px;
}

/* 3rd Page Radar Chart Styling */
#radar-chart {
    flex: 1;
    height: 500px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

#radar-chart {
    background: #f3eff5;
    border: 2px solid #606c38;
    border-radius: 8px;
}

#map-radar-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Barplot Controls */
#controls {
    margin-bottom: 20px;
}

#controls label {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
}

#controls select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Calendar Styling */
#calendar-filter {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#calendar-filter label {
    font-size: 1rem;
    font-weight: bold;
}

#calendar-filter input[type="date"] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.date-picker {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-picker label {
    font-size: 1rem;
    font-weight: bold;
}

.date-picker input[type="date"] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Slider Styling */
#slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#slider-container label {
    font-size: 1rem;
    font-weight: bold;
}

#timeline-slider {
    flex: 1;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f3eff5;
    border: 2px solid #dda15e;
}

#slider-value {
    font-size: 1rem;
    font-weight: bold;
    color: #283618;
}

/* Button Styling */
#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#button-container button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dda15e;
    color: #283618;
    transition: background-color 0.3s ease;
}

#button-container button:hover {
    background-color: #bc6c25;
}

/* Visualization Instructions Styling */
#instructions,
#instructions-map {
    background: #f3eff5;
    padding: 20px;
    border: 2px solid #606c38;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#instructions h2,
#instructions-map h2 {
    color: #000000;
}

#instructions p,
#instructions-map p {
    color: #000000;
}

#instructions ul {
    list-style-type: disc;
    margin-left: 20px;
}

#instructions-map ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Mouse Hover Tooltip Styling */
.tooltip {
    background: #f3eff5;
    color: #283618;
    border: 1px solid #dda15e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}